<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AddressMapper">
	<select id="getById" parameterType="long" resultMap="addressMapper">
		SELECT *
		FROM
		teacherdb.address
		WHERE
		ID = #{id};
	</select>
	<insert id="create" useGeneratedKeys="true" keyProperty="id">
		INSERT
		INTO teacherdb.address (ID, CITY, STREET, HOUSE)
		VALUES (#{id},
		#{city}, #{street}, #{house});
	</insert>
	<update id="update">
		UPDATE teacherdb.address
		SET CITY = #{city}, 
		STREET = #{street},
		HOUSE = #{house}
		WHERE ID = #{id}
	</update>
	<delete id="delete">
		DELETE FROM teacherdb.address WHERE ID = #{id}
	</delete>
	<resultMap id="addressMapper" type="by.homework.entity.Address">
		<id property="id" column="ID" />
	</resultMap>
</mapper>