<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AddressMapper">
	<select id="getById" parameterType="long" resultMap="addressMapper">
		SELECT *
		FROM
		teacherdb.address a
		JOIN teacherdb.person p
		on a.Person_ID = p.ID
		WHERE
		p.ID = #{id};
	</select>
	<resultMap id="addressMapper" type="by.homework.entity.Address">
		<id property="id" column="ID" />
	</resultMap>
</mapper>